/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "sass/main.scss";